body{
    font-family: 'Noto Sans HK', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.picture1{
    max-width: 60vw;
}
.content{
    padding-left: 2em;
    padding-right: 2em;
}
.buttoncontainer{
    display: flex;
    max-width: 60vw;
}
.brandingbutton{
    background-color: #6a865e;
    color: white;
    border-radius: 16px;
    font-size: 20px;
    padding: 10px 24px;
    margin-top: 3em;
}
.description{
    font-size: 30px;
    font-weight: bolder;
    color: #2a2836;
    max-width: 60vw;
}
.info{
    color: #2a2836;
    max-width: 60vw;
}

